.createpost-wrapper {
    /* padding: 50px; */
}
.createpost-wrapper h1 {
    padding-left: 50px;
}
.createpost-btn {
    border-radius: 5px;
    min-width: 50px;
    min-height: 50px;
}
.createpost {
    margin: 50px;
    border-radius: 10px;
    display: grid;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    grid-template-areas:
    "item1 item1 item2 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item7 item7 item7"
    "item8 item8 item8 item8"
    "item9 item9 item10 item10"
    "item11 item11 item12 item12"
    ;
}
.form-item {
    padding: 20px;
}
.form-item input {
    margin-top: 5px;
    display: block;
    padding: 0px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
}
.form-item select {
    margin-top: 5px;
    display: block;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item11;
}
.item12 {
    grid-area: item12;
}
.createpost-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.createpost-btn {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 300;
    font-size: 32px;
    border: 0;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.createpost-btn:hover {
    background-color: rgb(2, 2, 62);
    color: white;
}
