.home-wrapper {
    min-height: 1000px;
    background-color: #f0f2f5;
}
.search-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.search-input {
    width: 40%;
    border: 2px solid #00B4CC;
    padding: 5px 5px 5px 10px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.search-input:focus {
    color: #00B4CC;
}
.search-btn-wrap {
    padding-left: 20px;
}
.search-btn {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 30%;
    cursor: pointer;
    font-size: 20px;
}
.posts-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 20px 10px 0px ;
    width: 100%;
    background-color: #f0f2f5;
}
.post-list {
    width: 60%;
}