.home-wrapper {
    min-height: 1000px;
    background-color: #f0f2f5;
}
.search-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.search-input {
    width: 40%;
    border: 2px solid #00B4CC;
    padding: 5px 5px 5px 10px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}
.search-input:focus {
    color: #00B4CC;
}
.search-btn-wrap {
    padding-left: 20px;
}
.search-btn {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 30%;
    cursor: pointer;
    font-size: 20px;
}
.posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 10px 0px ;
    width: 100%;
    background-color: #f0f2f5;
}
.post-list {
    width: 60%;
}
.post-paginate {
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    flex-direction: row;
}
.pagination li {
    display: block;
    padding: 10px;
    background-color: #e3e3e3;
    cursor: pointer;
}
  
.pagination li a {
    display: block;
    color: #333;
    width: 100%;
    height: 100%;
}
  
.pagination li.active {
    background-color: #4e8ae7;
}
  
.pagination li.disabled a {
    color: #aaa;
}